table,td,th{border: 1px solid red;}
table{border-collapse:collapse; border-spacing: 5px 10px;margin: auto; background-color: aqua;}
.abc{text-align: center; font-size: larger;}
th,td{padding: 5px 10px;}
caption{caption-side: bottom;}
